<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupos da Copa</title>
    <link rel="shortcut icon" href="../imgs/favicon.ico" type="image/x-icon">

</head>
<body>
    <h2>Separação dos Grupos para a Copa do Mundo do Catar 2022</h2>
    
    <table border="1">
        <tr>
            <th>GRUPO A</th>
            <th>GRUPO B</th>
            <th>GRUPO C</th>
            <th>GRUPO D</th>
            <th>GRUPO E</th>
            <th>GRUPO F</th>
            <th>GRUPO G</th>
            <th>GRUPO H</th>
        </tr>
            <tr>
                <td>Catar <img src="../imgs/cat.png" alt=""></td>
                <td>Inglaterra <img src="../imgs/ing.png" alt=""></td>
                <td>Argentina <img src="../imgs/arg.png" alt=""></td>
                <td>França <img src="../imgs/fra.png" alt=""></td>
                <td>Espanha <img src="../imgs/esp.png" alt=""></td>
                <td>Bélgica <img src="../imgs/bel.png" alt=""></td>
                <td>Brasil <img src="../imgs/bra.png" alt=""></td>
                <td>Portugal <img src="../imgs/por.png" alt=""></td>                
            </tr>
            <tr>
                <td>Equador <img src="../imgs/equ.png" alt=""></td>
                <td>Irã <img src="../imgs/ira.png" alt=""></td>
                <td>Arábia Saudita <img src="../imgs/ara.png" alt=""></td>
                <td>Austrália <img src="../imgs/aus.png" alt=""></td>
                <td>Costa Rica <img src="../imgs/cos.png" alt=""></td>
                <td>Canadá <img src="../imgs/can.png" alt=""></td>
                <td>Sérvia <img src="../imgs/ser.png" alt=""></td>
                <td>Gana <img src="../imgs/gan.png" alt=""></td> 
            </tr>
            <tr>
                <td>Senegal <img src="../imgs/sen.png" alt=""></td>
                <td>Estados Unidos <img src="../imgs/eua.png" alt=""></td>
                <td>México <img src="../imgs/mex.png" alt=""></td>
                <td>Dinamarca <img src="../imgs/din.png" alt=""></td>
                <td>Alemanha <img src="../imgs/ale.png" alt=""></td>
                <td>Marrocos <img src="../imgs/mar.png" alt=""></td>
                <td>Suíça <img src="../imgs/sui.png" alt=""></td>
                <td>Uruguai <img src="../imgs/uru.png" alt=""></td> 
            </tr>
            <tr>
                <td>Holanda <img src="../imgs/hol.png" alt=""></td>
                <td>Gales <img src="../imgs/gal.png" alt=""></td>
                <td>Polônia <img src="../imgs/pol.png" alt=""></td>
                <td>Tunísia <img src="../imgs/tun.png" alt=""></td>
                <td>Japão <img src="../imgs/jap.png" alt=""></td>
                <td>Croácia <img src="../imgs/cro.png" alt=""></td>
                <td>Camarões <img src="../imgs/cam.png" alt=""></td>
                <td>Coreia do Sul <img src="../imgs/cor.png" alt=""></td> 
            </tr>
                        
    </table>

    <br>
    <br>

    <a href="/home">Voltar à página inicial</a>
</body>
</html>