<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palpites</title>
    <link rel="shortcut icon" href="../imgs/favicon.ico" type="image/x-icon">

</head>
<body>
    <form action="/hunches/save" method="post">
        <span>Qui, 24/11, 16:00h</span>
        <br>
        <br>
        <img src="../imgs/bra.png" alt="Brasil">
        <input type="number" name="brScoreGame1">
        <span>X</span>
        <input type="number" name="serScore">
        <img src="../imgs/ser.png" alt="Sérvia">
        <br>
        <br>

        <span>Seg, 28/11, 13:00h</span>
        <br>
        <br>
        <img src="../imgs/bra.png" alt="Brasil">
        <input type="number" name="brScoreGame2">
        <span>X</span>
        <input type="number" name="suiScore">
        <img src="../imgs/sui.png" alt="Suiça">
        <br>
        <br>

        <span>Sex, 02/12, 16:00h</span>
        <br>
        <br>
        <img src="../imgs/bra.png" alt="Brasil">
        <input type="number" name="brScoreGame3">
        <span>X</span>
        <input type="number" name="camScore">
        <img src="../imgs/cam.png" alt="Camarões">
        <br>
        <br>
        <input type="submit" value="Cadastrar Palpites">
        
    </form>
    <br>
    <br>
    

    <a href="/home">Voltar à página inicial</a>
</body>
</html>