<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="shortcut icon" href="../imgs/favicon.ico" type="image/x-icon">
</head>

<body>
    <form action="/users/signup" method="post">
        <label for="name">Seu nome:</label>
        <input type="text" name="nome"placeholder="Digite seu nome">
        <br>
        <label for="email">Seu e-mail:</label>
        <input type="email" name="email" placeholder="Digite seu e-mail">
        <br>
        <label for="password">Sua senha:</label>
        <input type="password" placeholder="Digite sua senha">
        <br>
        <input type="submit" value="Cadastrar">
    </form>

    <a href="/home">Voltar à página inicial</a>
</body>
</html>