<h1>Criar Tarefas</h1>

<form action="/tarefas/save" method="post">
    <label>Título da Tarefa: </label>
    <input type="text" name="titulo" placeholder="Digite o titulo da tarefa" />
    <br>
    <br>

    <textarea name="descricao" placeholder="Digite a descrição da tarefa" cols="36" rows="5"></textarea>
    <br>
    <input type="submit" value="Cadastrar Tarefa" >
</form>